.qq{
    text-align: right;
}
.ee{
    text-decoration: underline;
    text-indent: 5mm;
    letter-spacing: -1px;
    font-family: 'Bad Script', cursive;
}
.zz{
    text-indent: 5mm;
    font-family: 'Bad Script', cursive;
}